:root{
    --orange: #fc6a3b;
    --gray-black:#191918;
    --black:#000000;
    --white:#ffffff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.navbar{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display: grid;
    width: 100%;
    padding: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px;
}
.navbar a{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    align-items: left;
    text-decoration: none;
    color: var(--orange);
}
.navbar--navegacion a{
    align-items: right;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin: 0 auto;
}
.navbar--navegacion a:active{
    color:red;
}
.main-content {
    width: 100%;
    height: 100vh;
    background-image: url("../imagenes/pexels-nao-triponez-129208.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.main-content__title {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(--white);
    padding-top: 30vh;
}
.line{
    color: var(--orange);
    font-size: 3.6rem;
    font-weight: 700;
}
.line-black{
    color: var(--black);
    font-size: 3.6rem;
    font-weight: 700;
}
.main-content__p{
    width: 500px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--white);
}
.main-content__a{
    border: var(--orange);
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}
.main-content__a:hover{
    margin-top: 22px;
    box-shadow: #b23b14 3px;
}
.main-information {
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: var(--orange);
}
.main-information__title{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: var(--white);
    padding-top: 10vh;
}
.main-information__p{
    width: 80vw;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    color:var(--white);
}
.main-information__a{
    border: #191918;
    width: 200px;
    height: 40px;
    background-color: #191918;
    margin: 20px 0 auto;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
    box-shadow: #000000;
}
.main-information__a:hover{
    margin-top: 22px;
    box-shadow: none;
}
.main-service{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    text-align: center;
}
.main-service > h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-top: 50px;

}
.main-service__services{
    display: grid;
    grid-template-columns: repeat(4, 200px);
}