
body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("../img/205913.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.topbar{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    background-color: #181620;
    color: #656570;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    margin: 15px;
}

ul, ol{
    list-style: none;
}

.nav li a{
    width: 100px;
    background-color: #181620;
    color:#656570;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}

.nav > li{
    float: right;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 100px;
}

.nav li a:hover{
    background-color: #656570;
    color: #181620;
}

.nav li:hover > ul{
    display: block;
}

