
body{
    display: grid;
    min-height: 97vh;
    grid-template-rows: auto auto;
}

.background{
    background-color: rosybrown;
    /* background-image: url("../img/205913.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.topbar{
    align-self: flex-start;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    background-color: #181620;
    color: #656570;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    margin: 15px;
}

ul, ol{
    list-style: none;
}

.nav li a{
    width: 100px;
    background-color: #181620;
    color:#656570;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}

.nav > li{
    float: right;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}

.nav li a:hover{
    background-color: #656570;
    color: #181620;
}

.nav li:hover > ul{
    display: block;
}

.bottombar{
    background-color: #242323;
    color: #9696aa;
    width: 100%;
    align-self: flex-end;
}
.bottombar a{
    text-decoration: none;
    color: #9696aa;
}